div#ngb-accordion-item-0 {
    padding: 10px;
    background: #f5f7fa;
    border-radius: 5px;
}

div#ngb-accordion-item-1 {
    padding: 10px;
    background: #f5f7fa;
    border-radius: 5px;
}

.grid-option {
    display: none;
}