.sort-pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 14px;

    app-collection-sort {
        flex: 0 0 auto;
    }

    app-collection-paginate {
        flex: 0 0 auto;
        margin-top: 0;

        .custome-pagination {
            margin-top: 0;
        }
    }

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: stretch;

        app-collection-sort,
        app-collection-paginate {
            width: 100%;
        }
    }
}