<div class="product-box" [class]="class">
    <div class="product-image-wrapper">
        <a [routerLink]="['/product/', product.slug]" class="product-image-link">
            <img [src]="product.product_thumbnail ?
                        product.product_thumbnail.original_url :
                        'assets/images/product.png'" class="product-img img-fluid" [alt]="product.name">
        </a>

        <!-- Discount Badge -->
        <div class="discount-badge" *ngIf="product.discount">
            <span>{{ product.discount }}% OFF</span>
        </div>

        <!-- Close Button for Wishlist -->
        <div class="close-button-wrapper" *ngIf="close">
            <app-button [class]="'btn wishlist-button close_button'" [spinner]="false" [id]="'close_btn'"
                (click)="removeWishlist(product.id)">
                <i class="ri-close-line"></i>
            </app-button>
        </div>
    </div>

    <div class="product-details">
        <a [routerLink]="['/product/', product.slug]" class="product-title-link">
            <h3 class="product-title">{{ product.name }}</h3>
        </a>


        <!-- Category Badge - Debug Mode -->
        <div class="product-category">
            <span class="category-badge">
                {{ product?.category?.name || product?.categories?.[0]?.name || 'No Category Data' }}
            </span>
        </div>


        <div class="product-pricing">
            <div class="price-wrapper">
                <span class="original-price" *ngIf="product.discount">{{ product.price | currencySymbol }}</span>
                <span class="sale-price">{{ product.sale_price | currencySymbol }}</span>
            </div>
            <span class="discount-text" *ngIf="product.discount">({{ product.discount }}% OFF)</span>
        </div>
    </div>
</div>

<app-product-detail-modal #productDetailModal [product]="product"></app-product-detail-modal>
<app-variation-modal #variationModal></app-variation-modal>