<!-- My Account Basic Style -->
<div *ngIf="style == 'basic'">
    <div class="delivery-login-box">
        <div class="delivery-icon">
            <i class="cil-user" *ngIf="!(isAuthenticated$ | async) else profile"></i>
            <ng-template #profile>
                <div class="user-box">
                    <img [src]="(user$ | async)?.profile_image?.original_url" class="img-fluid" alt="profile"
                        *ngIf="(user$ | async)?.profile_image && (user$ | async)?.profile_image?.original_url else placeholder">
                    <ng-template #placeholder>
                        <h3>{{ (user$ | async)?.name?.charAt(0)?.toString()?.toUpperCase() }}</h3>
                    </ng-template>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="onhover-div onhover-div-login">
        <ul class="user-box-name">
            <li class="product-box-contain" *ngIf="!(isAuthenticated$ | async)">
                <a [routerLink]="['/auth/login']"><i class="cil-account-logout"></i> {{ 'Login' | translate }}</a>
            </li>
            <li class="product-box-contain" *ngIf="!(isAuthenticated$ | async)">
                <a [routerLink]="['/auth/register']"><i class="cil-user-plus"></i> {{ 'Register' | translate }}</a>
            </li>
            <li class="product-box-contain" *ngIf="(isAuthenticated$ | async)">
                <a [routerLink]="['/account/dashboard']"><i class="cil-user"></i> {{ 'My Account' | translate }}</a>
            </li>
            <li class="product-box-contain" *ngIf="(isAuthenticated$ | async)">
                <a href="javascript:void(0)" (click)="confirmationModal.openModal()"><i class="cil-account-logout"></i>
                    {{ 'Logout' | translate }}</a>
            </li>
        </ul>
    </div>
</div>

<app-confirmation-modal #confirmationModal (confirmed)="logout()">
</app-confirmation-modal>