<!-- My Account Basic Style -->
<div *ngIf="style == 'basic'">
    <div class="delivery-login-box">
        <div class="delivery-icon">
            <i class="cil-user"></i>
        </div>
    </div>
    <div class="onhover-div onhover-div-login">
        <ul class="user-box-name">
            <li class="product-box-contain" *ngIf="!(isAuthenticated$ | async)">
                <a [routerLink]="['/auth/login']"><i class="cil-account-logout"></i> {{ 'Signin' | translate }}</a>
            </li>
            <li class="product-box-contain" *ngIf="!(isAuthenticated$ | async)">
                <a [routerLink]="['/auth/register']"><i class="cil-user-plus"></i> {{ 'Signup' | translate }}</a>
            </li>
            <li class="product-box-contain" *ngIf="(isAuthenticated$ | async)">
                <a [routerLink]="['/account/dashboard']"><i class="cil-user"></i> {{ 'Account' | translate }}</a>
            </li>
            <li class="product-box-contain" *ngIf="(isAuthenticated$ | async)">
                <a href="javascript:void(0)" (click)="confirmationModal.openModal()"><i class="cil-account-logout"></i>
                    {{ 'Logout' | translate }}</a>
            </li>
        </ul>
    </div>
</div>

<app-confirmation-modal #confirmationModal (confirmed)="logout()">
</app-confirmation-modal>